.App {
    font-family: sans-serif;
    text-align: center;
    background-color: "green";
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .galleryImage {
    max-width: 80%;
  }
